<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <!-- 自动刷新servlet -->
  <servlet>
    <servlet-name>refresh</servlet-name>
    <servlet-class>test_1.Refresh</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>refresh</servlet-name>
    <url-pattern>/refresh.action</url-pattern>
  </servlet-mapping>
</web-app>
